:root{
    --primary-color: rgba(181, 190, 160);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 70px;

}

.navbar a {
    padding: 0.825em;
    font-size: 1em;
    font-style: normal;
    width:100%;
    transition: all 0.75s;
}

.navbar a: hoover { color: rgb(153, 157, 141)}

/*Body style*/

body {
    background-color: rgba(181, 190, 160) 
}

/* Links style and hoover*/

.link { color: rgb(124, 126, 119)}

.linkf { color: rgb(153, 157, 141)}

.link:hoover { color:rgb(80, 83, 86)}
.linkf:hoover { color:rgb(80, 83, 86)}

/* Footer style*/

footer {
    display: flex;
    font-size: 0.8750em;
    font-style: normal;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 83, 87);
    width:100%;
    padding: top 1.25em;
}

@media screen and (min-width:576px){
    .navbar a {
        padding: 6px;
        font-size: 1em;
    }
    
}
@media screen and (min-width:768px){
    .navbar a {
        padding: 1em;
        font-size: 1.825em;
    }
    
}